:export { logoPrimary: var(--logo-primary); }
.rishabh{
    position: absolute;
    top: 8px;
    font-size: 1.8rem;
    margin-left: 36px;
    color: #ce5ff8;
    font-family: Chewy;
    cursor: pointer;
}


@media (max-width: 924px) {
    .rishabh{
        top: 12px;
    }
}

@media (max-width: 600px) {
    .rishabh{
        top: 16px;
    }
  }
  
